@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1609730518787'); /* IE9 */
  src: url('iconfont.eot?t=1609730518787#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABpQAAAKQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIExATYCJAMICwYABCAFhG0HLxvWBREVjDGyH4exY/qJZTl1WuNLqmgk/nMQkB05i8NLKGUkJVxCbVL/u2gTtykl3MZcPrBlGaFK8i1r9IWk5fTS9P93fmpOTKm5BzU7twYIIAjr81xOrwUUyPwg5TLH5KNegPHWgPbGKLICCcAbxi54gY8hAFciSUdUbBs6sNHYqwQgFuLpUexCBI1meRuB2XBQI05iYMtD8gpwIvq+eEOusEFiKOymFqqcoORv7xSpA84BAwFBFATouAEoIB3QIDoaM00NhWBMhSu/JhbQ6PjzveNgG+Kofx7CxK51ByAcSp5J6sketVYCoOFoJlA/6SLQ7u4eLrsfj45rz84b7+7rrx2uqisW5TdeffQtrwe3Tm0c2Qprn97sYqoDbMLBzeh28Vn9+7f2U2d+/zk7TfknEYabfv92e1K8ou7cVctq5c4dKMKqO/4ly3furnza/r4fZH7I/tALst4HrRkqEx0z3zdKGgDOZXVelfzG35D/8Kt22Kvgm+2mAbi72LwehZzLmmE+sE/mFfDTpANbtCG39fLqEuSVZOZCSIAi7sfBDvhyf6oh4A5dArsgZZBYREBhE0/RjHQYuJEPE5tiMF2l2R1340e0iQ0bkOoTQPD2DcnTeSjefiia8QtDoH+YvGvDVVfjC90kFo9Wgq5iAN4HxD4X5Np1FNcfMKwzV/LyiHVBqeI42IZVzu+wQFliS3UNHVUCEs5hC57DLGMohRP01YhUy6VpUtObDJ/zxkg5gVwKBYDnA4j5WIGCzmpU+fwBCtUyLukg1QUvkKjE4wObwRpA2WmKQaRHeaVyFXIoRQARLAe2YB7KZBgom+clkE8Zogmp0pLptKOhGmN7Xf53uwBXtlHmzGg3jHtca6MB') format('woff2'),
  url('iconfont.woff?t=1609730518787') format('woff'),
  url('iconfont.ttf?t=1609730518787') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1609730518787#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e648";
}

